<% include common/header.ejs %>

<div class="container last_added">
    <h1 class="text-center">Latest pets</h1>
    <div class="row" id="pet_list">
    </div>
</div>

<% include common/footer.ejs %>

