<% include common/header.ejs %>

<div class="description">
    <!--<h3 align="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>-->
    <!--<h4 align="center">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor-->
        <!--incididunt ut labore et dolore <br>magna aliqua. Ut enim ad minim veniam, quis nostrud ex-->
        <!--ercitation ullamco </h4>-->
</div>

<div class="row draw-menu">
    <div class="col-md-3 col-sm-2">
        <a href="" style="text-decoration: none;">
            <img src="http://cdn.fishki.net/upload/post/201409/06/1301804/i2dpv50ftpg.jpg" class="img-circle" style="width:100px;height:100px">
            <p class="dm">В добрі руки</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-2">
        <a href="" style="text-decoration: none;">
            <img src="http://cdn.fishki.net/upload/post/201409/06/1301804/i2dpv50ftpg.jpg" class="img-circle" style="width:100px;height:100px">
            <p class="dm">Знайти друга</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-2">
        <a href="" style="text-decoration: none;">
            <img src="http://cdn.fishki.net/upload/post/201409/06/1301804/i2dpv50ftpg.jpg" class="img-circle" style="width:100px;height:100px">
            <p class="dm" >Мій профіль</p>
        </a>
    </div>
</div>

<div class="last_added">
    <h3>Останні додані:</h3>
</div>

<div id="pet_list"></div>


<% include common/footer.ejs %>

