<% include common/header.ejs %>
<!--<img class="profileP" src="https://dl.dropboxusercontent.com/u/92390430/pexels-photo-53813.png">-->
<div class="mainP">
    <% include common/search.ejs %>
<div class="container last_added">
    <h1 class="text-center">Останні додані:</h1>
    <div class="row" id="pet_list"></div>
</div>
    </div>
<% include common/footer.ejs %>

