<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--Bootsrap JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript" src="/assets/js/main.js"></script>

<footer>
    <ul>
        <li>
            <p class="info">Get Help</p>
            <!--<a class="logo"href="\">ToGoodHands<i>&copy;2016</i></a>-->
            <!--<a class="logo"href="\">ToGoodHands<i>&copy;2016</i></a>-->
        </li>
        <li>
            <p class="info">About us</p>
        </li>
        <li>
            <p class="info">Find us:</p>
            <ul>
                <li class="f-links"><a href="#">Twitter</a></li>
                <li class="f-links"><a href="#">Facebook</a></li>
            </ul>
        </li>
    </ul>

</footer>

</body>
</html>