<% include ../common/header.ejs %>

<div class="container">
    <form class="form-horizontal create-pet-form" method="post" enctype="multipart/form-data">
        <fieldset>

            <!-- Form Name -->
            <legend>Edit pet</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name:</label>
                <div class="col-md-4">
                    <input id="name" name="name" type="text" placeholder="name" class="form-control input-md"
                           value="<%= pet.pet.name %>">
                </div>
            </div>

            <!--todo: handle image upload-->
            <!--File Button-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="image">Image:</label>
                <div class="col-md-4">
                    <input type="hidden" name="imageOld" value="<%= pet.pet.img %>">
                    <input id="image" name="image" class="input-file" type="file">
                </div>
            </div>

            <!--TODO: create enumeration of all available species and pass it here-->
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="species">Species:</label>
                <div class="col-md-4">
                    <select id="species" name="species" class="form-control">
                        <!--додати більше видів-->
                        <option value="cat">Cat</option>
                        <option value="dog">Dog</option>
                        <option value="rabbit">Rabbit</option>
                    </select>
                </div>
            </div>

            <!-- Multiple Radios (inline) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="sex">Gender:</label>
                <div class="col-md-4">
                    <label class="radio-inline" for="sex-male">
                        <input type="radio" name="sex" id="sex-male" value="male" <% if(pet.pet.sex === 'male'){ %> checked = "checked" <% } %>>
                        Male
                    </label>
                    <label class="radio-inline" for="sex-female">
                        <input type="radio" name="sex" id="sex-female" value="female" <% if(pet.pet.sex === 'female'){ %> checked = "checked" <% } %>>
                        Female
                    </label>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="location">Location:</label>
                <div class="col-md-4">
                    <input id="location" name="location" type="text" placeholder="location" class="form-control input-md" value="<%= pet.pet.location %>">
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="other">Extra info:</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="other" name="other" value="<%= pet.pet.other %>"></textarea>
                </div>
            </div>

            <!-- Multiple Radios (inline) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="sex">Status:</label>
                <div class="col-md-4">
                    <label class="radio-inline" for="status-waiting">
                        <input type="radio" name="status" id="status-waiting" value="waiting" <% if(pet.system.status === 'waiting' || pet.system.status === 'new'){ %> checked = "checked" <% } %>>
                        Waiting
                    </label>
                    <label class="radio-inline" for="status-taken">
                        <input type="radio" name="status" id="status-taken" value="taken" <% if(pet.system.status === 'taken'){ %> checked = "checked" <% } %>>
                        Taken
                    </label>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="create-pet-button"></label>
                <div class="col-md-4">
                    <button id="create-pet-button" type="submit" class="btn btn-success">Зберегти</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>

<% include ../common/footer.ejs %>