<% include ../common/header.ejs %>
<!--TODO complete this page-->
<h1>Edit pet</h1>
<div class="container">
    <a href="/">На головну</a>
    <div id="pet_edit"></div>
</div>
<% include ../common/footer.ejs %>