<% include ../common/header.ejs %>
<!--TODO complete this page-->
<!--TODO handle logged user: show control buttons for author, show contact form for other users-->

<div class="container">
    <a href="/"><< Home</a>
    <div id="pet_full"></div>
    <%=isAuthor%>
</div>
<% include ../common/footer.ejs %>