<% include ../common/header.ejs %>

<div class="container">
    <a href="/"><< На головну</a>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Мої тваринки</h1>
        <p><%= author._id %></p>
    </div>
<img class="illustration-1 illustration-3" src="https://dl.dropboxusercontent.com/u/92390430/mypets.png">
    <div class="row">
        <div id="profile_pets"></div>
    </div>

</div>

<% include ../common/footer.ejs %>