<% include ../common/header.ejs %>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Мої тваринки</h1>
    </div>
    <div class="row">
        <div id="profile_pets"></div>
    </div>

</div>

<% include ../common/footer.ejs %>