<% include ../common/header.ejs %>

<div class="container">
    <a href="/"><< Home</a>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Profile Pets</h1>
        <p><%= author._id %></p>
    </div>

    <div class="row">
        <div id="profile_pets"></div>
    </div>

</div>

<% include ../common/footer.ejs %>