<!--TODO complete this page-->
<div class="mainP">
    <h1>Edit pet page</h1>
    <div><a href="/pets/<%=pet._id%>">link</a>  : <%=pet.pet.species%></div>
    <img class="image"/>
    <form id="pet_edit_form">

    </form>
</div>
